# Core files
core

# Build directories
linux*Clang*/
linux*Gcc*/
linux*Icc*/
solaris*Gcc*/
SunOS*Gcc*/
platforms/

# Source packages
*.tar.bz2
*.tar.gz
*.tar
*.tgz
*.txz

# Compiled Python files
*.pyc
venv_pyaate/

# Editor/IDE temporary files
__py*__.*

# Python egg cache
*.egg*

# Image files
*.png

# Build directories
build/

# Ignore cloned case setups
snappy/

# Ignore downloaded meshes
coarse/
fine/
tmp_*/
snappyMeshes/
output/

# Log files
log.*

# Temporary files
*.done
